.formSectionProperties{
    position: relative;
    width: 100%;
    height: fit-content;
    background-image: url("/testImages/formBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: var(--50px);
    padding-inline: var(--20px);
    gap: var(--30px);
}

.infoProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-self: center;
    gap: var(--20px);
}

.infoProperties p, .formProperties label, .buttonProperties button {
    font-size: var(--20px);
}

.infoProperties span{
    font-size: 2.3rem;
}

.formInputsProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-self: center;
    margin-top: 60px;
}

.datesInputsProperties{
    gap: 30px;
}

.formProperties label, .infoProperties, .buttonProperties button{
    color: var(--neutral-1);
    font-family: "Abyssinica SIL";
}

.inputProperties{
    height: 40px;
    border-radius: 20px;
    background-color: rgba(247, 237, 207, 0.8);
    padding-left: 10px;
    font-size: 16px;
    border: none;
    width: 320px;
}

.inputProperties::placeholder{
    color: var(--aqua-4);
}

.datesInputsProperties{
    display: flex;
    flex-direction: column;
}

.buttonProperties button{
    background-color: var(--aqua-4);
    border: var(--neutral-1) 2px solid;
    width: 235px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
}



.lastFormRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    gap: var(--50px);
}


@media (min-width: 1024px) {
    .lastFormRow {
        flex-direction: row;
        align-items: end;

        gap: 0;
    }

    .infoProperties{
        display: flex;
        flex-direction: column;
        width: 45%;
        text-align: left;
        justify-self: left;
    }

    .formProperties, .infoProperties{
        margin-inline: var(--50px);
    }

    .datesInputsProperties{
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .formInputsProperties{
        justify-self: left;
    }

    .formInputsProperties label{
        display: flex;
        flex-direction: column;
    }

    .infoProperties span {
        font-size: var(--40px);
    }

    .inputProperties {
        width: 360px;
    }

}