.formSectionProperties{
    position: relative;
    width: 100%;
    height: fit-content;
    background-image: url("/testImages/formBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-inline: var(--20px);
}

.infoProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-self: center;
}

.infoProperties p, .formProperties label, .buttonProperties button {
    font-size: var(--20px);
}

.infoProperties span{
    font-size: 2.3rem;
    margin-top: 50px;
}

.formInputsProperties{
    display: flex;
    flex-direction: column;
    width: min-content;
    height: fit-content;
    justify-self: center;
    margin-top: 60px;
}

.formInputsProperties, .datesInputsProperties{
    gap: 30px;
}

.formProperties label, .infoProperties, .buttonProperties button{
    color: var(--neutral-1);
    font-family: "Abyssinica SIL";
}

.inputProperties{
    height: 40px;
    border-radius: 20px;
    background-color: rgba(247, 237, 207, 0.8);
    padding-left: 10px;
    font-size: 16px;
    border: none;
    width: 320px;
}

.inputProperties::placeholder{
    color: var(--aqua-4);
}

.datesInputsProperties{
    display: flex;
    flex-direction: column;
}

.buttonProperties button{
    background-color: var(--aqua-4);
    border: var(--neutral-1) 2px solid;
    width: 235px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 20px;
}

.buttonProperties {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (min-width: 786px) {
    .formSectionProperties{
        height: fit-content;
    }

    .infoProperties{
        display: flex;
        flex-direction: column;
        width: 45%;
        text-align: left;
        justify-self: left;
    }

    .formProperties, .infoProperties{
        margin-left: 80px;
    }

    .datesInputsProperties{
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .buttonProperties{
        margin-left: 80%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .formInputsProperties{
        justify-self: left;
    }

    .formInputsProperties label{
        display: flex;
        flex-direction: column;
    }

    .infoProperties span {
        font-size: var(--40px);
    }

    .inputProperties {
        width: 360px;
    }
}