.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 37.5rem; /* 500px */

    padding: var(--20px);

    background-color: var(--aqua-5);
    color: var(--caqui-1);
}
.main h1, .main h2, .main h5 {
    margin: 0;
    padding: 0;

    font-weight: lighter;
}
.main h1 {
    font-size: 2.5rem; /* 40px */
}
.main h2, .main h1 {
    letter-spacing: 0.2rem;
}

.image {
    display: flex;
    flex-direction: column;

    width: 45%;
    height: 100%;

    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 50%;

    gap: var(--40px);
}