.page {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.deptos {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--50px);
  gap: var(--50px);
}

.gallery{
  margin-bottom: var(--50px) ;
}

.emailProperties{
  display: flex;
  flex-direction: column;
  width: 650px;
  height: max-content;
  background-color: #3B3623;
  border-radius: 20px;
}