.toggleButton {
  background: transparent;
  color: var(--neutral-1); /* Blanco por defecto */
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  padding: 10px 15px;
  transition: all 0.3s ease;
  z-index: 10;
}

/* Línea debajo */
.toggleButton::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--neutral-1); /* Blanco por defecto */
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.toggleButton:hover {
  color: var(--aqua-5); /* Texto e ícono en aqua */
}

.toggleButton:hover::after {
  width: 100%;
  background-color: var(--aqua-5); /* Línea en aqua */
}

.buttonText {
  white-space: nowrap;
}

.arrowIcon {
  fill: currentColor; /* Hereda el color del texto */
  transition: transform 0.3s ease;
}

.toggleButton:hover .arrowIcon {
  transform: translateY(2px);
}
