/*see more button*/
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    margin: auto;
    padding: var(--5px);

    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    transition: all ease-in-out 0.3s;
}
.button:hover {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}
.button h4, .feature h6 {
    font-weight: lighter;
}

.dark {
    background-color: var(--aqua-4);
    border: 1px solid var(--caqui-1);
    color: var(--caqui-1);
}
.dark:hover {
    background-color: var(--aqua-5);
}
.light {
    background-color: var(--caqui-1);
    border: 1px solid var(--aqua-5);
    color: var(--aqua-5);
}
.light:hover {
    background-color: var(--caqui-2);
}

/*features card*/
.featuresCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    background-color: var(--caqui-1);
    color: var(--caqui-5);
    border: 1px solid var(--caqui-5);
    border-bottom: none;
}

.feature {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: 100%;
    height: fit-content;

    padding: var(--5px);
    padding-inline: var(--20px);
    gap: var(--20px);

    border-bottom: 1px solid var(--caqui-5);
}


@media (min-width: 768px) {
    .featuresCard {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .featuresCard {
        width: 40%;
    }
}