/*main container*/
.main {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh; /* 700px */

    background-image: url("/testImages/navBarBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*nav bar*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 8.125rem; /* 130px */

    padding-top: var(--20px);

    background: linear-gradient(
            to bottom,
            rgba(59,54,35,1),
            rgba(59,54,35,0)
    );
}

/*sections bar*/
.sectionsBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    height: fit-content;

    margin: auto;
    padding: var(--20px);
    padding-inline: var(--25px);

    background-color: rgba(247, 237, 207, 0.45);
    border-radius: 5px;
}

.sectionsBar h3 {
    margin: 0;
    padding: 0;

    font-weight: lighter;
    color: var(--caqui-1);
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 31%;
    height: fit-content;

    padding: var(--20px);

    background-color: var(--aqua-4);
    border-radius: 5px;
}