/*MAIN CONTAINER*/
.main {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh; /* 700px */

    background-image: url("/testImages/navBarBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*NAV BAR*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 8.125rem; /* 130px */

    padding-top: var(--20px);

    background: linear-gradient(
            to bottom,
            rgba(59,54,35,1),
            rgba(59,54,35,0)
    );
}

.mobileImage {
    display: flex;
}
.desktopImage {
    display: none;
}

/*SECTIONS BAR*/
/*container*/
.sectionsBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: fit-content;

    margin: auto;
    padding: var(--20px);
    padding-inline: var(--25px);
    gap: var(--20px);

    background-color: rgba(247, 237, 207, 0.45);
    border-radius: 5px;

    transition: all ease-in-out 0.3s;
}
.sectionsBar:hover {
    background-color: rgba(247, 237, 207, 0.70);
}

.sectionsBar h3 {
    margin: 0;
    padding: 0;

    font-weight: lighter;
    color: var(--caqui-1);
}

/*gral buttons*/
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: var(--15px);

    background-color: var(--aqua-4);
    border-radius: 5px;

    transition: all ease-in-out 0.3s;
}
.section:hover {
    background-color: var(--aqua-5);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.40);
}

/*dropdown button NOW DESABLED*/
/*.dropdown {
    flex-direction: column;

    gap: var(--15px);

    transition: all ease-in-out 0.3s;
}
.dropdown:hover .deptos{
    display: flex;
}

.dropdown .mainInfo {
    flex-direction: row;
}

.deptos {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all ease-in-out 0.3s;
}*/

/*responsive for tablet*/
@media (min-width: 768px) {
    .sectionsBar {
        flex-direction: row;
        gap: 0;
    }

    .section {
        width: 31%;
    }

    .mobileImage {
        display: none;
    }
    .desktopImage {
        display: flex;
    }
}

/*responsive for desktop*/
@media (min-width: 1024px) {
    .sectionsBar {
        width: 70%;
    }
}