/* page.module.css */
.main {
  position: relative;
  min-height: 100vh; /* que ocupe toda la pantalla */
}

.toggleButtonContainer {
  position: fixed;
  bottom: 20px;  /* separado un poquito del borde inferior */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* para que esté encima del carrusel */
}
