.navBarProperties{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 100px;
    background-color: rgba(27, 54, 45, 0.7);
    justify-self: center;
    border-radius: 20px;
    margin-top: 20px;
    padding-inline: var(--50px);
    transition: all ease-in-out 0.3s;
}
.navBarProperties:hover{
    background-color: var(--aqua-6);
}

.navSectionsProperties{
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navSectionsProperties h4 {
    color: var(--neutral-1);
    font-weight: lighter;
}

.navSectionsProperties a:hover{
    text-underline: var(--neutral-1) 1px;
    cursor: pointer;
}