.navBarProperties{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100px;
    background-color: rgba(27, 54, 45, 0.7);
    justify-self: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-inline: auto;
    align-items: center;
    gap: 10px;
    position: absolute;
    z-index: 10;
}

.imageLogoProperties{
    position: relative;
    width: 230px;
    height: 60px;
}

.navSectionsProperties{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.navSectionsProperties h4 {
    color: var(--neutral-1);
    font-size: var(--15px);
    font-weight: lighter;
}

@media (min-width: 768px) {
    .navBarProperties{
        flex-direction: row;
        justify-content: space-between;
        padding-inline: var(--50px);
        transition: all ease-in-out 0.3s;
    }
    .navBarProperties:hover{
        background-color: var(--aqua-6);
    }

    .imageLogoProperties{
        width: 400px;
        height: 100px;
    }

    .navSectionsProperties{
        gap: 50px;
    }

    .navSectionsProperties h4 {
        font-size: var(--20px);
    }

    .navSectionsProperties a:hover{
        text-underline: var(--neutral-1) 1px;
        cursor: pointer;
    }
}